{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Adicionar Novo Evento</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <img src="{% static 'img/event-img.jpg' %}" alt="event-img" class="event-bg op-01">
    {% if success %}
        {% include 'partials/success-alert.html' %}
    {% else %}
        {% if fail %}
            {% include 'partials/fail-alert.html' %}
        {% endif %}
    {% endif %}
    {% if not success %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3 mt-5">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            Adicionar Novo Evento
                        </div>
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Nome:</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nome do evento" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="date">Data:</label>
                                    <input type="date" class="form-control" id="date" name="date">
                                </div>
                                <div class="form-group">
                                    <label for="local">Local:</label>
                                    <input type="text" class="form-control" id="local" placeholder="Local do evento" name="local">
                                </div>
                                <div class="form-group">
                                    <label for="description">Descrição:</label>
                                    <textarea class="form-control" id="description" rows="3" placeholder="Descrição do evento" name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="free_space">Espaço Livre:</label>
                                    <input type="number" class="form-control" id="free_space" placeholder="Espaço Livre do evento" name="free_space">
                                </div>
                                <div class="text-end mt-3">
                                    <a href="/event/info/0/" class="btn btn-secondary">Voltar</a>
                                    <button type="submit" class="btn btn-primary">Adicionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>
