{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Eventos</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <img src="{% static 'img/event-img.jpg' %}" alt="event-img" class="event-bg op-01">
    {% if success %}
        {% include 'partials/success-alert.html' %}
    {% endif %}
    {% if fail %}
        {% include 'partials/fail-alert.html' %}
    {% endif %}
    {% if event_info %}
        <div class="container-fluid mb-3">
            <div class="row justify-content-center">
                <div class="col-md-6 mt-5">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            Atualizar Evento
                        </div>
                        <div class="card-body">
                            <form action="/event/update/{{ event_info.id }}/" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="input-name" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="input-name" name="name" value="{{ event_info.name }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="input-date" class="form-label">Data:</label>
                                    <input type="date" class="form-control" id="input-date" name="date" value="{{ event_info.date }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="input-local" class="form-label">Local:</label>
                                    <input type="text" class="form-control" id="input-local" name="local" value="{{ event_info.local }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="input-description" class="form-label">Descrição:</label>
                                    <textarea class="form-control" id="input-description" rows="3" name="description" required>{{ event_info.description }}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="input-free-space" class="form-label">Espaço Livre:</label>
                                    <input type="number" class="form-control" id="input-free-space" name="free_space" value="{{ event_info.free_space }}" required>
                                </div>
                                <div class="text-end">
                                    <a href="/event/info/0/" class="btn btn-secondary">Voltar</a>
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="text-center m-3">
            <a href="/event/insert/" class="btn btn-success">Adicionar novo evento</a>
        </div>
        <div class="my-container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="d-none">Id</th>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Local</th>
                        <th>Descrição</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% if 'events' %}
                        {% for event in events %}
                            <tr>
                                <td class="d-none">{{ event.id }}</td>
                                <td>{{ event.name }}</td>
                                <td>{{ event.date }}</td>
                                <td>{{ event.local }}</td>
                                <td>{{ event.description }}</td>
                                <td class="text-center">
                                    <a href="/event/update/{{ event.id }}/" class="btn btn-primary">&#x270D;</a>
                                </td>
                                <td class="text-center">
                                    <a href="/event/delete/{{ event.id }}/" class="btn btn-danger">&#10005;</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>