{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>PagamentoS</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <img src="{% static 'img/event-img.jpg' %}" alt="event-img" class="event-bg op-01">
    {% if success %}
        {% include 'partials/success-alert.html' %}
    {% endif %}
    {% if fail %}
        {% include 'partials/fail-alert.html' %}
    {% endif %}
    {% if payment_info %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card shadow-lg">
                    <div class="card-header">
                        Atualizar Pagamento
                    </div>
                    <div class="card-body">
                        <form action="/payment/update/{{ payment_info.id }}/" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="input-value" class="form-label">Valor:</label>
                                <input type="number" class="form-control" id="input-value" name="value" value="{{ payment_info.value }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="input-date" class="form-label">Data:</label>
                                <input type="date" class="form-control" id="input-date" name="date" value="{{ payment_info.date }}" required>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="input-status" name="status"
                                {% if payment_info.status %}checked{% endif %}>
                                <label class="form-check-label" for="input-status">Aprovado</label>
                            </div>
                            <div class="mb-3">
                                <label for="select-method" class="form-label">Método:</label>
                                <select class="form-select" id="select-method" name="method">
                                    {% comment %} <option value="">--------------------</option> {% endcomment %}
                                    {% for key, value in payment_info.payment_method.items %}
                                        <option value="{{ key }}" {% if payment_info.method == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="text-end">
                                <a href="/payment/info/0/" class="btn btn-secondary">Voltar</a>
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="text-center m-3">
        <a href="/payment/insert/" class="btn btn-success">Adicionar novo pagamento</a>
    </div>
    <div class="my-container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="d-none">Id</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Situação</th>
                    <th>Método</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% if 'payments' %}
                    {% for payment in payments %}
                        <tr>
                            <td class="d-none">{{ payment.id }}</td>
                            <td>{{ payment.value }}</td>
                            <td>{{ payment.date }}</td>
                            <td>
                                {% if payment.status == False %}
                                    Pendente
                                {% else %}
                                    Aprovado
                                {% endif %}
                            </td>
                            <td>
                                {% if payment.method == 'DI' %}
                                    Dinheiro
                                {% elif payment.method == 'CC' %}
                                    Cartão de Crédito
                                {% elif payment.method == 'DC' %}
                                    Cartão de Débito
                                {% else %}
                                    {{ payment.method }}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="/payment/update/{{ payment.id }}/" class="btn btn-primary">&#x270D;</a>
                            </td>
                            <td class="text-center">
                                <a href="/payment/delete/{{ payment.id }}/" class="btn btn-danger">&#10005;</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    {% endif %}

    <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>