{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Adicionar Novo Pagamento</title>
</head>
<body>
    {% include 'partials/header.html' %}
    {% if success %}
        Pagamento adicionado com sucesso
    {% else %}
        {{ fail }}
    {% endif %}
    {% if not success %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="number" placeholder="value" name="value">
            <input type="date" name="date">
            <input type="checkbox" name="status" value="false">
            <select name="method">
                <option value="">--------------------</option>
                {% for key, value in payment_method.items %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>

            <button type="submit">Adicionar</button>
            
        </form>
    {% endif %}
    <a href="/payment/info/0/">Voltar</a>

    <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>