{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Página Inicial</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <img src="{% static 'img/event-img.jpg' %}" alt="event-img" class="event-bg">

    <main class="text-center m-5">
        <h1 class="my-text-shadow">Plataforma de Eventos</h1>
        {% comment %} Just kidding {% endcomment %}
        {% comment %} <img src="{% static '/img/nicolas-cage.png' %}" alt="Nicolas Cage" class="rounded w-100 h-100"> {% endcomment %}
    </main>
    
    <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>